<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SolutionWizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SolutionWizard.Properties.Settings>
            <setting name="MC9328_Defaults" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>MemCfg      = 2</string>
                        <string>DbgPort     = 1</string>
                        <string>RamBase     = 0x08000000</string>
                        <string>RamSize     = 0x02000000</string>
                        <string>FlashBase   = 0x10000000</string>
                        <string>FlashSize   = 0x01000000</string>
                        <string>ClockSpeed  = 16000000</string>
                        <string>SlowClock   = 16000000</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PXA271_Defaults" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>MemCfg      = 2</string>
                        <string>DbgPort     = 1</string>
                        <string>RamBase     = 0xA0000000</string>
                        <string>RamSize     = 0x02000000</string>
                        <string>FlashBase   = 0x00000000</string>
                        <string>FlashSize   = 0x02000000</string>
                        <string>ClockSpeed  = 3250000</string>
                        <string>SlowClock   = 3250000</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AT91SAM7X_Defaults" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>MemCfg      = 0</string>
                        <string>DbgPort     = 0</string>
                        <string>RamBase     = 0x00000000</string>
                        <string>RamSize     = 0x00020000</string>
                        <string>FlashBase   = 0x00100000</string>
                        <string>FlashSize   = 0x00080000</string>
                        <string>ClockSpeed  = 48000000</string>
                        <string>SlowClock   = 46875</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AT91SAM9261_Defaults" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>MemCfg      = 2</string>
                        <string>DbgPort     = 0</string>
                        <string>RamBase     = 0x20000000</string>
                        <string>RamSize     = 0x04000000</string>
                        <string>FlashBase   = 0x40000000</string>
                        <string>FlashSize   = 0x10000000</string>
                        <string>ClockSpeed  = 3125147</string>
                        <string>SlowClock   = 32768</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LPC22XX_Defaults" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>MemCfg      = 2</string>
                        <string>DbgPort     = 0</string>
                        <string>RamBase     = 0x81000000</string>
                        <string>RamSize     = 0x01000000</string>
                        <string>FlashBase   = 0x80000000</string>
                        <string>FlashSize   = 0x02000000</string>
                        <string>ClockSpeed  = 15000000</string>
                        <string>SlowClock   = 5000000</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CORTEXM3_Defaults" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>MemCfg      = 2</string>
                        <string>DbgPort     = 1</string>
                        <string>RamBase     = 0x10000000</string>
                        <string>RamSize     = 0x02000000</string>
                        <string>FlashBase   = 0x00000000</string>
                        <string>FlashSize   = 0x40000000</string>
                        <string>ClockSpeed  = 16000000</string>
                        <string>SlowClock   = 16000000</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BF537_Defaults" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>MemCfg      = 2</string>
                        <string>DbgPort     = 0</string>
                        <string>RamBase     = 0x00000000</string>
                        <string>RamSize     = 0x04000000</string>
                        <string>FlashBase   = 0x10000000</string>
                        <string>FlashSize   = 0x00400000</string>
                        <string>ClockSpeed  = 600000000</string>
                        <string>SlowClock   = 600000000</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TEMPLATE_Defaults" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>MemCfg      = 2</string>
                        <string>DbgPort     = 1</string>
                        <string>RamBase     = 0x08000000</string>
                        <string>RamSize     = 0x02000000</string>
                        <string>FlashBase   = 0x10000000</string>
                        <string>FlashSize   = 0x01000000</string>
                        <string>ClockSpeed  = 16000000</string>
                        <string>SlowClock   = 16000000</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SolutionWizard.Properties.Settings>
    </userSettings>
</configuration>