# Build results
/BuildOutput
bin/
obj/
*.cache
*.log
*_assemblyinfo.txt
*.feedback

# CMSIS and CMSIS_RTX
/DeviceCode/Cores/arm/CMSIS/
/DeviceCode/Cores/arm/CMSIS_RTX/*
!/DeviceCode/Cores/arm/CMSIS_RTX/dotNetMF.proj

# WinPCAP
/DeviceCode/Targets/OS/Win32/DeviceCode/WinPcap_Eth/Dependencies/WpdPack/

