# Build results
/BuildOutput
*.log
*_assemblyinfo.txt
*.feedback
/alias.txt

# CMSIS and CMSIS_RTX
/CMSIS/CMSIS/
/CMSIS/Device/*
/CMSIS/ARM.CMSIS.pdsc
!/CMSIS/CMSIS/RTOS/RTX/dotNetMF.proj

# Visual Studio
*.aps
*.[Cc]ache
*.ilk
*.ncb
*.[Oo]bj
*.opensdf
*.pch
*.sbr
*.sdf
*.sln.docstates
*.suo
*.vspscc
*.vssscc
*.user
[Bb]in/
[Oo]bj/
ipch/
*.VC.db

!/tools/bin/

#uVision
*.uvguix*
Listings/
{*/

# WinPCAP
/DeviceCode/Targets/OS/Win32/DeviceCode/WinPcap_Eth/Dependencies/WpdPack/

*.axfdump
/crypto/lib
Firmware License (Crypto).rtf
License (Crypto).rtf
PKCryptoWelcome.rtf
REDIST_CRYPTO.TXT
ReleaseNotesCrypto.txt
*.tlog
/Solutions/Windows/TinyCLR/Debug
/Solutions/Windows/TinyCLR/FLASH_MEMORY.bin
*.opendb
*.dbgconf
/tools/DisAsmPE/Debug
/tools/DisAsmPE/DisAsmPE/Debug
/tools/DisAsmPE/NETMF.PE.Metadata/Debug
/tools/DisAsmPE/DisAsmPE/*.txt
