<?xml version="1.0"?>
<Include>
    <DirectoryRef Id="TARGETDIR">
        <Merge Id="CRT90"  Language="0" SourceFile="$(env.SPOROOT)\bin\vcmergemodules\Microsoft_VC90_CRT_x86.msm" DiskId="1" />
        <Merge Id="CRT100"  Language="0" SourceFile="$(env.SPOROOT)\bin\vcmergemodules\Microsoft_VC100_CRT_x86.msm" DiskId="1" />
        <Merge Id="CRT110" Language="0" SourceFile="$(env.SPOROOT)\bin\vcmergemodules\Microsoft_VC110_CRT_x86.msm" DiskId="1" />
        <!--Merge Id="CRT Policy" Language="0" SourceFile="$(env.SPOROOT)\bin\vcmergemodules\policy_9_0_Microsoft_VC90_CRT_x86.msm" DiskId="1" /-->
        <Merge Id="ATL90" Language="0" SourceFile="$(env.SPOROOT)\bin\vcmergemodules\Microsoft_VC90_ATL_x86.msm" DiskId="1" />
        <Merge Id="ATL100" Language="0" SourceFile="$(env.SPOROOT)\bin\vcmergemodules\Microsoft_VC100_ATL_x86.msm" DiskId="1" />
        <Merge Id="ATL110" Language="0" SourceFile="$(env.SPOROOT)\bin\vcmergemodules\Microsoft_VC110_ATL_x86.msm" DiskId="1" />
        <!-- Merge Id="ATL Policy" Language="0" SourceFile="$(env.SPOROOT)\bin\vcmergemodules\policy_9_0_Microsoft_VC90_ATL_x86.msm" DiskId="1" /-->

        <?if $(var.BuildFlavor) = "Debug"?>
        <Merge Id="Debug CRT90" Language="0" SourceFile="$(env.SPOROOT)\bin\vcmergemodules\Microsoft_VC90_DebugCRT_x86.msm" DiskId="1" />
        <Merge Id="Debug CRT100" Language="0" SourceFile="$(env.SPOROOT)\bin\vcmergemodules\Microsoft_VC100_DebugCRT_x86.msm" DiskId="1" />
        <Merge Id="Debug CRT110" Language="0" SourceFile="$(env.SPOROOT)\bin\vcmergemodules\Microsoft_VC110_DebugCRT_x86.msm" DiskId="1" />
        <!-- Merge Id="Debug CRT Policy" Language="0" SourceFile="$(env.SPOROOT)\bin\vcmergemodules\policy_9_0_Microsoft_VC90_DebugCRT_x86.msm" DiskId="1" /-->
        <?endif?>
    </DirectoryRef>
</Include>