<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="Fragment_DPWSLE">
    <Feature Id="DPWSLE"
             Title="Devices Profile Web Services (DPWS)"
             Description=".NET Micro Framework DPWS Assemblies (LE)"
             Display="hidden"
             Level="1"
             Absent="allow"
             InstallDefault="followParent">
      <ComponentRef Id="Component_le_MFWsStack"/>
      <ComponentRef Id="Component_le_MFDpwsExtensions"/>
      <ComponentRef Id="Component_le_MFDpwsDevice"/>       
      <ComponentRef Id="Component_le_MFDpwsClient"/>
    </Feature>
  </Fragment>
  <Fragment Id="Fragment_DPWSBE">
    <Feature Id="DPWSBE"
             Title="Devices Profile Web Services (DPWS)"
             Description=".NET Micro Framework DPWS Assemblies (BE)"
             Display="hidden"
             Level="1"
             Absent="allow"
             InstallDefault="followParent">
      <ComponentRef Id="Component_be_MFWsStack"/>
      <ComponentRef Id="Component_be_MFDpwsExtensions"/>
      <ComponentRef Id="Component_be_MFDpwsDevice"/>
      <ComponentRef Id="Component_be_MFDpwsClient"/>
    </Feature>
  </Fragment>

</Wix>
