<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="Fragment_DPWS">
    <Feature Id="DPWS"
             Title="Devices Profile Web Services (DPWS)"
             Description=".NET Micro Framework DPWS Tools"
             Display="collapse"
             Level="1"
             Absent="allow"
             InstallDefault="followParent">
      <ComponentRef Id="Component_MFSvcUtil"/>
      <ComponentRef Id="Component_MFSvcUtilProcessor"/>
      <FeatureRef Id="DPWSLE" />
      <FeatureRef Id="DPWSBE" />

    </Feature>
  </Fragment>
</Wix>
