<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="Fragment_SideshowFeatures">
    <Feature Id="SideshowFeatures"
             Title="Windows Sidesshow Features"
             Description="Assemblies required for Windows Sideshow"
             Display="hidden"
             Level="1">
      <ComponentRef Id="Component_Microsoft.SPOT.Shell"/>
      <ComponentRef Id="Component_System.Xml.Legacy"/>
    </Feature>
  </Fragment>
</Wix>
