<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="Fragment_StampFeatures">
    <Feature Id="StampFeatures"
             Title="Stamp Features"
             Description="Features required for the Stamp platform"
             Display="hidden"
             Level="1">
      <ComponentRef Id="Component_Microsoft.SPOT.Native.Stamp"/>
      <ComponentRef Id="Component_Microsoft.SPOT.Drivers.GPIO"/>
      <ComponentRef Id="Component_Microsoft.SPOT.Drivers.Lynx6ArmProxy"/>
      <ComponentRef Id="Component_Microsoft.SPOT.Drivers.Lynx6ServoController"/>
      <ComponentRef Id="Component_Microsoft.SPOT.Drivers.LynxRoverProxy"/>
      <ComponentRef Id="Component_Microsoft.SPOT.Drivers.RoboticArms"/>
      <ComponentRef Id="Component_Microsoft.SPOT.Drivers.Sensors"/>
      <ComponentRef Id="Component_Microsoft.SPOT.Drivers.Servos"/>
      <ComponentRef Id="Component_Microsoft.SPOT.Drivers.SSC32ServoBoardController"/>
      <ComponentRef Id="Component_Microsoft.SPOT.SimpleRemoting"/>
      <ComponentRef Id="Component_Microsoft.SPOT.Utilities.Math"/>
    </Feature>
  </Fragment>
</Wix>
