<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="Fragment_StampFeatures">
    <Feature Id='SumoRobotFeature'
               Title='Robotics Add-in'
               Description='SumoRobot Robotics Features'
               Level='1'
               Absent='allow'>

      <Feature Id='SampleFeature' 
               Title='SumoRobot Sample' 
               Description='SumoRobot Sample that provides a baseline solution' 
               Level='1'>
        <MergeRef Id='SumoRobotSamplesModule'/>
      </Feature>

      <Feature Id="SumoRobotEmulatorFeature"
               Title="Sumo Robot Emultator"
               Description="Required component to simulate a Sumo Robot in software"
               Display="hidden"
               Level="1">
        <ComponentRef Id="Component_SumoRobotEmulator"/>
        <ComponentRef Id="Component_Microsoft.SPOT.Emulator.Interface"/>
        <ComponentRef Id="Component_HAL_Windows_Native"/>
        <ComponentRef Id="Component_Microsoft.SPOT.Emulator"/>
      </Feature>
    
      <?if $(var.INCLUDEDOCS) = "true"?>
      <Feature Id="SBOTDocsFeature" 
              Title="SumoRobot Documentation" 
              Description="Help and support documentation for the SumoRobot Add-in" 
              Level="1" 
              Absent="allow"
              AllowAdvertise="no">
        <ComponentRef Id="SbotHelpFilesComp" />
        <!-- <MergeRef Id="Help20_Merge" />
        <MergeRef Id="VSIPCC_Merge" /> -->
      </Feature>
      <?endif?>
    
    </Feature>
  </Fragment>
</Wix>
