<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- Some variables that are assumed to be defined by the invoking environment, eg on the command line:

    ProdVer
    CommonDir
    -->

  <!-- Product code and product version must be changed for every release, so major upgrades work "automagically." -->
  <?define ProdCode         =   "1528DB52-B7C1-4F81-9909-9FCCE2FE03A1" ?>
  <?define ProdUpgradeCode  =   "8DE73CDF-DD8C-49FB-AEF5-F82F649DADC1" ?>

  <?define CompanyName      =   "Microsoft"?>
  <?define FullCompanyName  =   "$(var.CompanyName) Corporation"?>
  <?define ShortCommonProductName="DNETMFPK.$(var.ProdVerMajor)$(var.ProdVerMinor)"?>

  <?define BaseProdName     =   ".NET Micro Framework Porting Kit" ?>
  <?define ProdName         =   "$(var.CompanyName) $(var.BaseProdName) v$(var.ProdVerMajor).$(var.ProdVerMinor) $(var.ProdReleaseName)" ?>
  <?define InstallDirName   =   "MicroFrameworkPK_v$(var.ProdVerMajor)_$(var.ProdVerMinor)" ?>
  <?define ProdUrl          =   "http://www.microsoft.com" ?>

  <?define ProductBaseKey   =   "Software\Microsoft\.NETMicroFrameworkPortingKit" ?>
  <?define ProductVerKey    =   "$(var.ProductBaseKey)\v$(var.ProdVer)" ?>
 
  <?define BUILD_TREE_SERVER="$(var.BuildTreeServer)" ?>
  <?define BUILD_TREE_SERVER_DLL="$(var.BuildTreeServer)\dll" ?>
  <?define BUILD_TREE_SERVER_DLL_1033="$(var.BuildTreeServer)\dll\1033" ?>
  <?define BUILD_TREE_SERVER_MSM="$(var.BuildTreeServer)\msm" ?>

  <?define BUILD_TREE_CLIENT="$(var.BuildTreeClient)" ?>
  <?define BUILD_TREE_CLIENT_DLL="$(var.BuildTreeClient)\dll" ?>
  <?define BUILD_TREE_CLIENT_PE="$(var.BuildTreeClient)\pe" ?>

  <Product
    Id="$(var.ProdCode)"
    UpgradeCode="$(var.ProdUpgradeCode)"
    Name="$(var.ProdName)"
    Language="1033"
    Codepage="1252"
    Version="$(var.ProdVerMajorMinor)"
    Manufacturer="$(var.FullCompanyName)"
    >

    <Package
      Id="*"
      Keywords="Installer"
      Description="$(var.ProdName)"
      Comments=" enu; Copyright (C) $(var.FullCompanyName), All rights reserved."
      Manufacturer="$(var.FullCompanyName)"
      InstallerVersion="200"
      Languages="1033"
      SummaryCodepage="1252"
      Compressed="yes"      
      />

    <Media Id="1" Cabinet="MFPK$(var.ProdVer).cab" EmbedCab="yes" />
    <?include MoreMedia.wxi?>

    <!-- <?include ..\Docs\pkdocs_shortcut.wxs?> -->

    <Property Id="ALLUSERS"><![CDATA[2]]></Property>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="$(var.ProdName)" />
      </Directory>
      <Directory Id="INSTALLDIR" Name="$(var.InstallDirName)">
        <!--
        <Directory Id='DocsDir' Name='Documentation' >
          <Component Id="Component_PKDOCSSHORTCUT" Guid="A26C0221-4544-469A-B78B-F41AB9F8C972">
             <Shortcut
               Id="Shortcut_PkDocs"
               Directory="ProgramMenuDir"
               Name="Porting Kit Documentation"
               Target="RCLPort.chm"
               />
           </Component>
        </Directory>
        -->
        <Directory Id="Tools" Name="tools">
          <Component Id="Component_SlnWizShortcut" Guid="BC5E88E8-D31D-44B8-8153-3256D02AB8DE">
            <Shortcut
              Id="Shortcut_SlnWiz"
              Directory="ProgramMenuDir"
              Name="Solution Wizard"
              Target="SolutionWizard.exe"
              />
          </Component>
          <Directory Id="Build" Name="build" />
        </Directory>
      </Directory>
    </Directory>


    <DirectoryRef Id="INSTALLDIR">
      <Component Id="ReadMeEtcComponent" Guid="cd2ba36e-a569-49b8-93a8-4c762db00f2a">
        <File Id="ReleaseNotesTxt" Name="ReleaseNotes.txt"  DiskId="1" Source="$(env.SPOCLIENT)\setup\PKProduct\ReleaseNotes.txt">
          <Shortcut Id="startMenuReadme"
                    Directory="ProgramMenuDir"
                    Name="MF Porting Kit Release Notes"/>
        </File>
        <File Id="LICENSE" Name="License.rtf" DiskId="1" Source="$(env.SPOCLIENT)\Setup\PKProduct\License.rtf" />
        <File Id="FirmwareLicense" Name="Firmware License.rtf" DiskId="1"
          Source="$(env.SPOCLIENT)\Setup\PKProduct\Firmware License.rtf" >
          <Shortcut Id="startMenuEula"
                    Directory="ProgramMenuDir"
                    Name="License"/>
        </File>
        <File Id="REDIST.TXT" Name="REDIST.TXT" DiskId="1" Source="$(env.SPOCLIENT)\Setup\PKProduct\REDIST.TXT" />

        <!-- get shortcut id from $(spoclient)\BuildOutput\public\Debug\Server\Fragments\SolutionWizard.wxs (from the build machine) -->
<!--
        <Shortcut Id="startMenuSoluWiz"
                  Directory="ProgramMenuDir"
                  Name="Solution Wizard"
                  Target="[#$(var.IDSolutionWizard_exe)]"
                  />
        <Shortcut Id="Shortcut_RCLPortDoc"
                  Directory="ProgramMenuDir"
                  Name="Porting Kit Documentation"
                  Target="[#RCLPort.chm]"
                  />
-->

        <File Id="PkWelcome" Name="PKWelcome.rtf" DiskId="1"
          Source="$(env.SPOCLIENT)\Setup\PKProduct\PKWelcome.rtf">
          <Shortcut Id="startMenuWelcome"
                    Directory="ProgramMenuDir"
                    Name="Porting Kit Welcome"/>
        </File>
      </Component>
      <Component Id="RegisterInstallDirComponent" Guid="9f0fb5f4-e36a-43f3-9ce7-3a3eb36b4029">
          <RegistryKey
            Root="HKLM"
            Id="Registry_ProdVerKey"
            Key="$(var.ProductVerKey)"
            Action="createAndRemoveOnUninstall">
            <RegistryValue
              Name="InstallRoot"
              Type="string"
              Value="[INSTALLDIR]"
              Id="Registry_InstallRootVal"
              />
          </RegistryKey>
      </Component>
    </DirectoryRef>

    <Property Id="NOTEPAD">Notepad.exe</Property>
    <CustomAction Id="OpenReadme" Property="NOTEPAD" ExeCommand="[#ReleaseNotesTxt]" Return="asyncNoWait" />

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallFinalize"/>
      <Custom Action="OpenReadme" After="RemoveExistingProducts">NOT Installed AND UILevel > 3</Custom>
    </InstallExecuteSequence>

    <Property Id="ARPPRODUCTICON">ProductIcon</Property>
    <Icon Id="ProductIcon" SourceFile="$(env.SPOCLIENT)\setup\include\setup.ico"/>

    <Feature
      Id="PKCoreFeature"
      Title="$(var.BaseProdName)"
      Description="$(var.BaseProdName) core features"
      Level="1"
      ConfigurableDirectory="INSTALLDIR"
      Display="expand"
      Absent="disallow"
      AllowAdvertise="no"
      InstallDefault="local"
      TypicalDefault="install"
      >
      <!--<ComponentRef Id="Component_PKDOCSSHORTCUT" />-->
      <ComponentRef Id="Component_SlnWizShortcut" />

      <ComponentRef Id="ReadMeEtcComponent" />
      <!--<ComponentRef Id="Component_NetMFCollection" />
      <ComponentRef Id="Component_RCLPort" />
      <MergeRef Id="Help20_Merge" />
      <MergeRef Id="VSIPCC_Merge" />-->

      <ComponentRef Id="RegisterInstallDirComponent" />

      <!-- The following is generated by PartitionPK, which builds the list of core components
           by determining what files are common to all singleton generate-port-style PKs
           regardless of architecture -->
      <?include common-feature-component-list.wxi?>

    </Feature>

    <!-- PartitionPK generates this one as well -->
    <?include platform-features.wxi?>

    <?include MFPKInstallUI.wxi?>

  </Product>
</Wix>
