<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="MFEmuTemplateFragment">
    <?include defines.wxs?>
    <DirectoryRef Id="WDEXPRESS11_PROJECT_TEMPLATE_CSHARP_NETMF">
      <Component Id="Component_EmulatorTemplate.WDE110" Guid ="d46f4131-4c8b-4aee-8c99-2778fc6d3637">
        <File Id="Component_EmulatorTemplate.WDE110" 
          Name="Emulator.zip"
          Source="$(var.BUILD_TREE_SERVER_TEMPLATES_PROJECTS_CSHARP_DEVICE)\Emulator.zip"
          DiskId="1"
          />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="VS11_PROJECT_TEMPLATE_CSHARP_NETMF">
      <Component Id="Component_EmulatorTemplate.VS110" Guid ="06e98858-fb87-4a77-ae1a-853e6a5c321e">
        <File Id="Component_EmulatorTemplate.VS110"
            Name="Emulator.zip"
            Source="$(var.BUILD_TREE_SERVER_TEMPLATES_PROJECTS_CSHARP_DEVICE)\Emulator.zip"
            DiskId="1"
      />
      </Component>
    </DirectoryRef>
      <DirectoryRef Id="WDEXPRESS12_PROJECT_TEMPLATE_CSHARP_NETMF">
          <Component Id="Component_EmulatorTemplate.WDE120" Guid ="E09C6439-8C61-49DC-BF9E-4D0180E1835F">
              <File Id="Component_EmulatorTemplate.WDE120"
                Name="Emulator.zip"
                Source="$(var.BUILD_TREE_SERVER_TEMPLATES_PROJECTS_CSHARP_DEVICE)\Emulator.zip"
                DiskId="1"
          />
          </Component>
      </DirectoryRef>
      <DirectoryRef Id="VS12_PROJECT_TEMPLATE_CSHARP_NETMF">
          <Component Id="Component_EmulatorTemplate.VS120" Guid ="E09C6439-8C61-49DC-BF9E-4D0180E1835F">
              <File Id="Component_EmulatorTemplate.VS120"
                  Name="Emulator.zip"
                  Source="$(var.BUILD_TREE_SERVER_TEMPLATES_PROJECTS_CSHARP_DEVICE)\Emulator.zip"
                  DiskId="1"
      />
          </Component>
      </DirectoryRef>

  </Fragment>
</Wix>
