<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SDKRegKey" value="Software\Microsoft\.NETMicroFramework\v4.3" />
    <add key="SDKLocatorValue" value="InstallRoot" />
    <add key="SDKAssemblyFoldersEx" value="AssemblyFoldersEx" />
  </appSettings>
</configuration>
