<?xml version="1.0"?>
<configuration>
  <system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.serviceModel>
    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding" />
    </protocolMapping>
    <behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
		<bindings>
			<wsHttpBinding>
        <binding name="DataAccessMtomBinding" messageEncoding="Mtom">
          <security mode="None"/>
          <reliableSession enabled="false"/>
        </binding>
			</wsHttpBinding>
		</bindings>
		<services>
			<service name="WcfMtomService.DataAccessService">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="DataAccessMtomBinding" contract="WcfMtomService.IDataAccessService"/>
			</service>
		</services>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
