<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- Some variables that are assumed to be defined by the invoking environment, eg on the command line:

    ProdVer
    CommonDir
    -->

  <!-- Product code and product version must be changed for every release, so major upgrades work "automagically." -->
  <?define ProdCode         =   "DF10FBAE-4352-4748-8888-9C7F7A5F97A9" ?>
  <?define ProdUpgradeCode  =   "472DE7BF-DA0B-4FF2-B65B-9A8985754FF0" ?>

  <?define CompanyName      =   "Microsoft"?>
  <?define FullCompanyName  =   "$(var.CompanyName) Corporation"?>
  <?define ShortCommonProductName="MFNETTH2.$(var.ProdVerMajor)$(var.ProdVerMinor)"?>

  <?define BaseProdName     =   ".NET MF Porting Kit (THUMB2 Network)" ?>
  <?define ProdName         =   "$(var.CompanyName) $(var.BaseProdName) v$(var.ProdVerMajor).$(var.ProdVerMinor) $(var.ProdReleaseName)" ?>
  <?define InstallDirName   =   "MicroFrameworkPK_v$(var.ProdVerMajor)_$(var.ProdVerMinor)" ?>
  <?define ProdUrl          =   "http://www.microsoft.com" ?>

  <?define ProductBaseKey   =   "Software\Microsoft\.NETMicroFrameworkPortingKit" ?>
  <?define ProductVerKey    =   "$(var.ProductBaseKey)\v$(var.ProdVer)\Network\THUMB2" ?>
 
  <?define BUILD_TREE_SERVER="$(var.BuildTreeServer)" ?>
  <?define BUILD_TREE_SERVER_DLL="$(var.BuildTreeServer)\dll" ?>
  <?define BUILD_TREE_SERVER_DLL_1033="$(var.BuildTreeServer)\dll\1033" ?>
  <?define BUILD_TREE_SERVER_MSM="$(var.BuildTreeServer)\msm" ?>

  <?define BUILD_TREE_CLIENT="$(var.BuildTreeClient)" ?>
  <?define BUILD_TREE_CLIENT_DLL="$(var.BuildTreeClient)\dll" ?>
  <?define BUILD_TREE_CLIENT_PE="$(var.BuildTreeClient)\pe" ?>

  <Product
    Id="$(var.ProdCode)"
    UpgradeCode="$(var.ProdUpgradeCode)"
    Name="$(var.ProdName)"
    Language="1033"
    Codepage="1252"
    Version="$(var.ProdVerMajorMinor)"
    Manufacturer="$(var.FullCompanyName)"
    >

    <Package
      Id="*"
      Keywords="Installer"
      Description="$(var.ProdName)"
      Comments=" enu; Copyright (C) $(var.FullCompanyName), All rights reserved."
      Manufacturer="$(var.FullCompanyName)"
      InstallerVersion="200"
      Languages="1033"
      SummaryCodepage="1252"
      Compressed="yes"      
      />

    <Upgrade Id="$(var.ProdUpgradeCode)" />

    <Media Id="1" Cabinet="MFPKNETTHM2$(var.ProdVer).cab" EmbedCab="yes" />
    <?include MoreMedia.wxi?>

    <Property Id="ALLUSERS"><![CDATA[2]]></Property>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="INSTALLDIR" Name="$(var.InstallDirName)">
        <Directory Id='DocsDir' Name='Documentation' />
        <Directory Id="Tools" Name="tools">
          <Directory Id="Build" Name="build" />
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="$(var.ProdName)" />
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="ReadMeEtcComponent" Guid="6e90bc0d-0286-43f0-b2b1-10461f1fe732">
        <File Id="ReleaseNotesTxt" Name="ReleaseNotesThumb2Network.txt"  DiskId="1" Source="$(env.SPOCLIENT)\setup\PKProductNetThumb2\ReleaseNotesThumb2Network.txt">
          <Shortcut Id="startMenuReadme"
                    Directory="ProgramMenuDir"
                    Name="MF Porting Kit (Thumb2 Network) Release Notes"/>
        </File>
        <File Id="LICENSE" Name="License (Thumb2 Network).rtf" DiskId="1" Source="$(env.SPOCLIENT)\Setup\PKProductNetThumb2\License (Thumb2 Network).rtf" />
        <File Id="FirmwareLicense" Name="Firmware License (Thumb2 Network).rtf" DiskId="1"
          Source="$(env.SPOCLIENT)\Setup\PKProductNetThumb2\Firmware License (Thumb2 Network).rtf" >
          <Shortcut Id="startMenuEula"
                    Directory="ProgramMenuDir"
                    Name="License"/>
        </File>
        <File Id="REDIST.TXT" Name="REDIST_THUMB2_NETWORK.TXT" DiskId="1" Source="$(env.SPOCLIENT)\Setup\PKProductNetThumb2\REDIST_THUMB2_NETWORK.TXT" />
        <File Id="PKNetThumb2Welcome" Name="PKNetThumb2Welcome.rtf" DiskId="1"
          Source="$(env.SPOCLIENT)\Setup\PKProductNetThumb2\PKNetThumb2Welcome.rtf">
          <Shortcut Id="startMenuWelcome"
                    Directory="ProgramMenuDir"
                    Name="Porting Kit Thumb2 Network Pack Welcome"/>
        </File>
      </Component>
      <Component Id="RegisterInstallDirComponent" Guid="4A9287CD-0A83-473d-8270-402C3ADB40A4">
          <RegistryKey
            Root="HKLM"
            Id="Registry_ProdVerKey"
            Key="$(var.ProductVerKey)"
            Action="createAndRemoveOnUninstall">            
            <RegistryValue
              Name="InstallRoot"
              Type="string"
              Value="[INSTALLDIR]"
              Id="Registry_InstallRootVal"
              />
          </RegistryKey>
      </Component>
    </DirectoryRef>

    <Property Id="NOTEPAD">Notepad.exe</Property>
    <CustomAction Id="OpenReadme" Property="NOTEPAD" ExeCommand="[#ReleaseNotesTxt]" Return="asyncNoWait" />

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallFinalize"/>
      <Custom Action="OpenReadme" After="RemoveExistingProducts">NOT Installed AND UILevel > 3</Custom>
    </InstallExecuteSequence>

    <Property Id="ARPPRODUCTICON">ProductIcon</Property>
    <Icon Id="ProductIcon" SourceFile="$(env.SPOCLIENT)\setup\include\setup.ico"/>

    <Feature
      Id="PKNetThumb2CoreFeature"
      Title="$(var.BaseProdName)"
      Description="$(var.BaseProdName) core features"
      Level="1"
      ConfigurableDirectory="INSTALLDIR"
      Display="expand"
      Absent="disallow"
      AllowAdvertise="no"
      InstallDefault="local"
      TypicalDefault="install"
      >

      <ComponentRef Id="ReadMeEtcComponent" />
      <ComponentRef Id="RegisterInstallDirComponent" />

      <!-- The following is generated by PartitionPK, which builds the list of core components
           by determining what files are common to all singleton generate-port-style PKs
           regardless of architecture -->
      <?include common-feature-component-list.wxi?>

    </Feature>

    <!-- PartitionPK generates this one as well -->
    <?include platform-features.wxi?>

    <?include MFNetThumb2InstallUI.wxi?>

  </Product>
</Wix>
