<?xml version='1.0'?>
<Include>
    <?include defines.wxs?>

    <RegistryValue
        Root="HKLM"
        Key ="$(var.VSSafeImports)"
        Name=".NetMicroFramework_v$(var.ProdVerMajor)_$(var.ProdVerMinor).01"
        Type ="string"
        Value ="[#$(var.IDDevice_targets)]"
        />

    <RegistryValue
        Root="HKLM"
        Key="$(var.VSSafeImports)"
        Name=".NetMicroFramework_v$(var.ProdVerMajor)_$(var.ProdVerMinor).02"
        Type="string"
        Value ="[#$(var.IDTasks_settings)]"
        />

    <RegistryValue
        Root="HKLM"
        Key="$(var.VSSafeImports)"
        Name=".NetMicroFramework_v$(var.ProdVerMajor)_$(var.ProdVerMinor).03"
        Type="string"
        Value ="[#$(var.IDCSharp_targets)]"
        />

    <RegistryValue
        Root="HKLM"
        Key="$(var.VSSafeImports)"
        Name=".NetMicroFramework_v$(var.ProdVerMajor)_$(var.ProdVerMinor).04"
        Type="string"
        Value ="[#$(var.IDEmulator_targets)]"
        />

      <RegistryValue
        Root="HKLM"
        Key="$(var.VSSafeImports)"
        Name=".NetMicroFramework_v$(var.ProdVerMajor)_$(var.ProdVerMinor).05"
        Type="string"
        Value ="[#$(var.IDVisualBasic_targets)]"
        />
</Include>
