<?xml version='1.0'?>
<Include>
  <?include defines.wxs?>
  <RegistryValue
    Root="HKLM"
    Key="$(var.FxKey)\v4.4"
    Name="BuildNumber"
    Type ="string"
    Value ="$(var.ProdVerBuild)"
    Id="Registry_BuildVersionValue"
    />

  <RegistryValue
    Root="HKLM"
    Key="$(var.FxKey)\v4.4"
    Name="RevisionNumber"
    Type ="string"
    Value ="$(var.ProdVerRevision)"
    Id="Registry_RevisionVersionValue"
    />

    <RegistryKey
        Root="HKLM"
        Id="Registry_AssemblyFolder_v4_4"
        Key="$(var.FxKey)\v4.4\AssemblyFolder"
        Action="createAndRemoveOnUninstall"
        >
        <RegistryValue
            Type="string"
            Value="[AssembliesDirLE]"
            Id="Registry_AsemblyFolderDefault_v4_4"
            />
    </RegistryKey>

  </Include>
