<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Microsoft.NetMicroFramework.Tools.MFDeployTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Microsoft.NetMicroFramework.Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Microsoft.NetMicroFramework.Tools.MFDeployTool.Properties.Settings>
      <setting name="DefaultSerialPort" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="TcpIpAddresses" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>10.52.32.196</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MRUFiles" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="DiscoveryMulticastAddress" serializeAs="String">
        <value>234.102.98.44</value>
      </setting>
      <setting name="DiscoveryMulticastAddressRecv" serializeAs="String">
        <value>234.102.98.45</value>
      </setting>
      <setting name="DiscoveryMulticastTimeout" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="DiscoveryMulticastPort" serializeAs="String">
        <value>26001</value>
      </setting>
      <setting name="DiscoveryMulticastToken" serializeAs="String">
        <value>DOTNETMF</value>
      </setting>
      <setting name="DiscoveryTTL" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PlugIns" serializeAs="String">
        <value>PlugIn</value>
      </setting>
      <setting name="EraseSectors" serializeAs="String">
        <value>Deployment; StorageA; StorageB</value>
      </setting>
      <setting name="SslCert" serializeAs="String">
        <value>NetMFDeviceCert.pfx</value>
      </setting>
      <setting name="SslRequireClientCert" serializeAs="String">
        <value>True</value>
      </setting>
    </Microsoft.NetMicroFramework.Tools.MFDeployTool.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
