<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id='Module_TestModule' Language='1033' Version='1.0.0.0'>
      <Package Id='1531c5f5-82d7-4930-9e75-5de73c55f6fd' Keywords="Installer" Description=".NET Micro Framework DPWS Tests" Comments=" enu; Copyright (C) Microsoft Corporation, All rights reserved." Manufacturer="Microsoft Corporation" InstallerVersion="200" Languages="1033" SummaryCodepage="1252" />
      <?include ProductVersion.wxs?>
      <?include Directories.wxs?>
      <ComponentRef Id='Component_MFDpwsApiTests' />
      <ComponentRef Id='Component_MFDpwsDeviceTests' />
      <ComponentRef Id='Component_MFDpwsClientTests' />
      <ComponentRef Id='Component_MFWsStackTests' />
  </Module>
</Wix>
