<?xml version="1.0" encoding="utf-8"?>
<Emulator>
  <Types>
    <GpioPort>Microsoft.SPOT.Emulator.Gpio.GpioPort</GpioPort>
    <LcdDisplay>Microsoft.SPOT.Emulator.Lcd.LcdDisplay</LcdDisplay>        
  </Types>

  <EmulatorComponents>

    <LcdDisplay id="mydisplay">
      <Width>320</Width>
      <Height>240</Height>
      <BitsPerPixel>16</BitsPerPixel>
    </LcdDisplay>
        
    <GpioPort id="Pin_Select">
      <Pin>3</Pin>
      <ModesExpected>InputOutputPort</ModesExpected>
      <ModesAllowed>InputOutputPort</ModesAllowed>
    </GpioPort>

    <GpioPort id="Pin_Left">
      <Pin>0</Pin>
      <ModesExpected>InputOutputPort</ModesExpected>
      <ModesAllowed>InputOutputPort</ModesAllowed>
    </GpioPort>

    <GpioPort id="Pin_Right">
      <Pin>1</Pin>
      <ModesExpected>InputOutputPort</ModesExpected>
      <ModesAllowed>InputOutputPort</ModesAllowed>
    </GpioPort>

    <GpioPort id="Pin_Up">
      <Pin>2</Pin>
      <ModesExpected>InputOutputPort</ModesExpected>
      <ModesAllowed>InputOutputPort</ModesAllowed>
    </GpioPort>

    <GpioPort id="Pin_Down">
      <Pin>4</Pin>
      <ModesExpected>InputOutputPort</ModesExpected>
      <ModesAllowed>InputOutputPort</ModesAllowed>
    </GpioPort>
                    
  </EmulatorComponents>
</Emulator>